@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

main {
  font-family: Inter;
  line-height: 1.4;
  color: #2c2c2c;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 32px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h2 {
  font-size: 56px;
  font-weight: 600;
}

/* section component */
.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.container {
  position: relative;
  width: 1290px;
  margin: 0 auto;
}

.info {
  position: relative;
  color: #2c2c2c;
  font-style: normal;
}

.mission {
  background-color: rgba(255, 235, 67, 0.6);
  width: 100vw;
  display: flex;
  padding: 48px 0;
}

.mission__block {
  align-items: flex-start;
  width: calc(50% - 15px);
  margin-left: auto;
}

.mission__paragraph {
  margin-top: 40px;
  font-size: 32px;
  font-weight: 400;
  line-height: 1.4;
}

.about__image1 {
  position: absolute;
  top: -183px;
  left: 0;
  width: 520px;
}

.about {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 48px;
  gap: 152px;
}

.about__title {
  margin-bottom: 40px;
}

.about__block1 {
  width: calc(50% - 15px);
  margin-left: auto;
}

.about__image2 {
  width: calc(50% - 15px);
}

.about__block2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about__text {
  padding-top: 84px;
  width: 519px;
}

.about__paragraph {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.4;
}

.about__paragraph--second {
  margin-top: 16px;
}

.join {
  margin-top: 64px;
  border-radius: 16px;
  background: #f3f5fa;
  padding: 32px 48px;
  /* width: calc(100% - 150px); */
  position: relative;
}

.join__title {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.2;
}

.join__paragraph {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.4;
  margin-top: 20px;
  width: 796px;
}

.join__button,
.join__button:visited {
  display: flex;
  padding: 20px 32px;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  border: 2px solid #3f78e3;
  cursor: pointer;
  color: #3f78e3;
  background-color: transparent;
  margin-top: 32px;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.3;
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    background-color: #4675eb;
    color: #ffffff;
  }
}

.join__img {
  position: absolute;
  right: 0;
  top: 0;
}

.slogan {
  position: relative;
  width: 100vw;
  height: 252px;
  background-color: #3f78e3;
  margin-top: 100px;
  padding: 72px 0 64px 0;
}

.slogan__title {
  color: #ffff;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.2;
}

.slogan__img {
  position: absolute;
  top: -123px;
  left: -51px;
}

.experts {
  margin-top: 100px;
  /* padding: 0 75px; */
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.experts__title {
  font-size: 56px;
  font-weight: 600;
  line-height: 1.4;
}

.experts__list {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 48px;
  gap: 40px;
}

.experts__item {
  width: 100%;
  display: flex;
  gap: 92px;
  padding: 48px 48px 48px 110px;
  justify-content: space-between;
  align-items: center;
  border-radius: 24px;
  border-left: 8px solid #41c6e0;
  background-color: #f3f5fa;
}

.experts__name {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.2;
}

.experts__paragraph {
  margin-top: 24px;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.4;
}

.ideas {
  margin-top: 100px;
  width: 100%;
}

.ideas__title {
  font-size: 56px;
  font-weight: 600;
  line-height: 1;
}

.ideas__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 64px;
  width: 100%;
}

.ideas__paragraph {
  width: 740px;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.4;
}

.ideas__text {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 400px;
  position: relative;
}

.ideas__message--first {
  padding: 20px 24px;
  width: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  background-color: #f3f5fa;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
}

.ideas__message--second {
  padding: 14px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  background-color: #3f78e3;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
  color: #ffff;
  margin-left: 120px;
}

.ideas__img {
  height: 101px;
  left: 19px;
  bottom: 25px;
  position: absolute;
}

/* mobile version */
@media screen and (max-width: 374px) and (min-width: 0px) {
  main {
    margin-top: 20px;
  }
  h2 {
    font-size: 32px;
    font-weight: 600;
  }

  .container {
    width: auto;
    max-width: 320px;
    margin: 0 auto;
    padding: 0 8px;
  }

  .mission {
    display: block;
    padding: 40px 16px;
  }

  .mission__block {
    width: 90%;
  }

  .mission__paragraph {
    margin-top: 16px;
    font-size: 24px;
    line-height: 1.35;
    margin-bottom: 200px;
  }

  .about__image1 {
    top: -215px;
    left: 0;
    width: 100%;
  }

  .about {
    margin-top: 152px;
    /* padding: 16px; */
    gap: 18px;
  }

  .about__title {
    margin-bottom: 16px;
  }

  .about__block1 {
    width: 100%;
  }

  .about__image2 {
    width: 100%;
  }

  .about__text {
    padding-top: 0;
    width: 100%;
  }

  .about__block2 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    gap: 20px;
  }

  .about__paragraph {
    font-size: 18px;
  }

  .about__paragraph--second {
    margin-bottom: 20px;
  }

  .join {
    margin-top: 60px;
    padding: 40px 24px;
    margin: 0 8px;
    /* width: 100%; */
  }

  .join__title {
    font-size: 20px;
  }

  .join__paragraph {
    margin-top: 16px;
    font-size: 16px;
    width: auto;
  }

  .join__button {
    margin-top: 32px;
    font-size: 17px;
    font-size: 18px;
  }

  .join__img {
    position: absolute;
    right: 0;
    top: 0;
    width: 80px;
  }

  .slogan {
    width: 100vw;
    height: auto;
    margin-top: 60px;
    padding: 40px 0;
  }

  .slogan__title {
    font-size: 24px;
  }

  .slogan__img {
    position: absolute;
    top: -65px;
    left: 0;
    width: 50px;
  }

  .experts {
    margin-top: 60px;
    /* padding: 0 16px; */
    padding: 0;
  }

  .experts__title {
    font-size: 32px;
  }

  .experts__list {
    margin-top: 20px;
    gap: 20px;
  }

  .experts__item {
    gap: 30px;
    padding: 20px 12px;
    position: relative;
  }

  .experts__info {
    width: 100%;
  }

  .experts__name {
    margin-top: 8px;
    font-size: 20px;
    width: 50%;
  }

  .experts__paragraph {
    margin-top: 24px;
    font-size: 16px;
    width: 100%;
  }

  .experts__img {
    position: absolute;
    top: 20px;
    right: 12px;
    width: 74px;
  }

  .ideas {
    margin-top: 64px;
    /* width: calc(100% - 78px); */
    width: 100%;
  }

  .ideas__title {
    font-size: 30px;
  }

  .ideas__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 16px;
  }

  .ideas__paragraph {
    margin-top: 16px;
    width: 100%;
    font-size: 17px;
  }

  .ideas__text {
    width: 100%;
    gap: 10px;
    position: relative;
  }

  .ideas__message--first {
    padding: 16px;
    width: 240px;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.4;
  }

  .ideas__message--second {
    /* width: 257px; */
    padding: 16px;
    font-size: 15px;
    margin-left: 88px;
  }

  .ideas__img {
    height: 80px;
    left: 6px;
    bottom: 42px;
    position: absolute;
  }
}

@media screen and (max-width: 767px) and (min-width: 375px) {
  main {
    margin-top: 20px;
  }
  h2 {
    font-size: 32px;
    font-weight: 600;
  }

  .container {
    width: 343px;
  }

  .mission {
    /* width: 375px; */
    height: 420px;
    padding: 40px 16px;
  }

  .mission__block {
    width: 375px;
    margin: 0 auto;
  }

  .mission__paragraph {
    margin-top: 16px;
    font-size: 24px;
    line-height: 1.35;
  }

  .about__image1 {
    top: -215px;
    left: 0;
    width: 100%;
  }

  .about {
    margin-top: 275px;
    /* padding: 16px; */
    gap: 18px;
  }

  .about__title {
    margin-bottom: 16px;
  }

  .about__block1 {
    width: 343px;
  }

  .about__image2 {
    width: 343px;
  }

  .about__text {
    padding-top: 0;
    width: 343px;
  }

  .about__block2 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    gap: 20px;
  }

  .about__paragraph {
    font-size: 18px;
  }

  .about__paragraph--second {
    margin-bottom: 20px;
  }

  .join {
    margin-top: 60px;
    padding: 40px 24px;
    /* width: 100%; */
  }

  .join__title {
    font-size: 20px;
  }

  .join__paragraph {
    margin-top: 16px;
    font-size: 16px;
    width: 295px;
  }

  .join__button {
    margin-top: 32px;
    font-size: 17px;
    font-size: 18px;
  }

  .join__img {
    position: absolute;
    right: 0;
    top: 0;
    width: 80px;
  }

  .slogan {
    width: 100vw;
    height: 182px;
    margin-top: 60px;
    padding: 40px 0;
  }

  .slogan__title {
    font-size: 24px;
  }

  .slogan__img {
    position: absolute;
    top: -65px;
    left: 0;
    width: 50px;
  }

  .experts {
    margin-top: 60px;
    /* padding: 0 16px; */
    padding: 0;
  }

  .experts__title {
    font-size: 32px;
  }

  .experts__list {
    margin-top: 20px;
    gap: 20px;
  }

  .experts__item {
    gap: 30px;
    padding: 20px 12px;
    position: relative;
  }

  .experts__info {
    width: 420px;
  }

  .experts__name {
    font-size: 24px;
    width: 230px;
  }

  .experts__paragraph {
    margin-top: 20px;
    font-size: 16px;
    width: 319px;
  }

  .experts__img {
    position: absolute;
    top: 20px;
    right: 12px;
    width: 74px;
  }

  .ideas {
    margin-top: 64px;
    /* width: calc(100% - 78px); */
    width: 100%;
  }

  .ideas__title {
    font-size: 30px;
  }

  .ideas__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 16px;
  }

  .ideas__paragraph {
    margin-top: 16px;
    width: 330px;
    font-size: 17px;
  }

  .ideas__text {
    width: 100%;
    gap: 10px;
    position: relative;
  }

  .ideas__message--first {
    padding: 16px;
    width: 240px;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.4;
  }

  .ideas__message--second {
    /* width: 257px; */
    padding: 16px;
    font-size: 15px;
    margin-left: 88px;
  }

  .ideas__img {
    height: 80px;
    left: 6px;
    bottom: 42px;
    position: absolute;
  }
}

/* tablet version */
@media screen and (max-width: 1299px) and (min-width: 768px) {
  h2 {
    font-size: 30px;
    font-weight: 600;
  }

  .container {
    width: 690px;
  }

  .mission {
    padding: 32px 39px;
  }

  .mission__block {
    width: 330px;
  }

  .mission__paragraph {
    margin-top: 24px;
    font-size: 21px;
    font-weight: 400;
    line-height: 1.4;
  }

  .about__image1 {
    top: -149px;
    left: 0;
    width: 270px;
  }

  .about {
    padding-top: 32px;
    gap: 32px;
  }

  .about__title {
    margin-bottom: 24px;
  }

  .about__block1 {
    width: 330px;
    margin-bottom: 32px;
  }

  .about__image2 {
    width: 330px;
  }

  .about__text {
    width: 270px;
    padding-top: 0;
  }

  .about__paragraph {
    font-size: 17px;
  }

  .join {
    margin-top: 48px;
    padding: 24px 30px;
    /* width: calc(100% - 78px); */
  }

  .join__title {
    font-size: 24px;
  }

  .join__paragraph {
    font-size: 17px;
    width: 510px;
  }

  .join__button {
    padding: 16px 24px;
    border-radius: 40px;
    margin-top: 24px;
    font-size: 17px;
  }

  .join__img {
    position: absolute;
    right: 0;
    top: 0;
    width: 120px;
  }

  .slogan {
    width: 100vw;
    height: 158px;
    margin-top: 64px;
    padding: 48px 39px;
  }

  .slogan__title {
    font-size: 24px;
    width: 690px;
  }

  .slogan__img {
    top: -88px;
    left: -20px;
    width: 80px;
  }

  .experts {
    margin-top: 64px;
    padding: 0 39px;
  }

  .experts__title {
    font-size: 30px;
  }

  .experts__list {
    margin-top: 24px;
    gap: 32px;
  }

  .experts__item {
    gap: 30px;
    padding: 32px 30px 32px 60px;
  }

  .experts__info {
    width: 420px;
  }

  .experts__name {
    font-size: 24px;
    width: 420px;
  }

  .experts__paragraph {
    margin-top: 16px;
    font-size: 16px;
    width: 420px;
  }

  .experts__img {
    width: 150px;
  }

  .ideas {
    margin-top: 64px;
    width: calc(100% - 78px);
  }

  .ideas__title {
    font-size: 30px;
  }

  .ideas__info {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
  }

  .ideas__paragraph {
    width: 330px;
    font-size: 17px;
  }

  .ideas__paragraph--second {
    margin-top: 17px;
  }

  .ideas__text {
    gap: 10px;
    position: relative;
  }

  .ideas__message--first {
    padding: 16x 24px;
    width: 240px;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.4;
  }

  .ideas__message--second {
    padding: 16x 24px;
    font-size: 15px;
    margin-left: 90px;
    width: 240px;
  }

  .ideas__img {
    height: 80px;
    left: 4px;
    bottom: 32px;
  }
}

/* full hd version */

@media screen and (min-width: 1920px) {
  h2 {
    font-size: 72px;
    font-weight: 600;
  }

  .container {
    width: 1760px;
  }

  .mission {
    padding: 69px 219px;
  }

  .mission__block {
    width: 733px;
  }

  .mission__paragraph {
    margin-top: 56px;
    font-size: 36px;
    font-weight: 400;
    line-height: 1.4;
  }

  .about__image1 {
    top: 180px;
    left: 82px;
    width: 685px;
  }

  .about {
    padding: 100px 77px 0px 80px;
    gap: 109px;
  }

  .about__title {
    margin-bottom: 56px;
  }

  .about__block1 {
    width: 330px;
  }

  .about__image2 {
    width: 870px;
  }

  .about__text {
    width: 270px;
    padding-top: 0;
  }

  .about__paragraph {
    font-size: 26px;
  }

  .about__paragraph--second {
    margin-top: 16px;
  }

  .join {
    margin-top: 128px;
    padding: 42px 48px;
    width: calc(100% - 160px);
  }

  .join__title {
    font-size: 40px;
  }

  .join__paragraph {
    font-size: 26px;
    width: 796px;
  }

  .join__button {
    padding: 22px 56px;
    border-radius: 40px;
    margin-top: 40px;
    font-size: 24px;
  }

  .join__img {
    position: absolute;
    right: 0;
    top: 0;
    width: 190px;
  }

  .slogan {
    width: 100vw;
    height: 322px;
    margin-top: 64px;
    padding: 95px 82px 70px 82px;
  }

  .slogan__title {
    font-size: 62px;
    width: 1756px;
  }

  .slogan__img {
    bottom: 234px;
    left: 25px;
    width: 141px;
  }

  .experts {
    margin-top: 120px;
    padding: 0 80px;
  }

  .experts__title {
    font-size: 72px;
  }

  .experts__list {
    margin-top: 72px;
    gap: 40px;
  }

  .experts__item {
    gap: 180px;
    padding: 63px 118px 48px 145px;
  }

  .experts__info {
    width: 420px;
  }

  .experts__name {
    font-size: 24px;
    width: 420px;
  }

  .experts__paragraph {
    margin-top: 16px;
    font-size: 16px;
    width: 420px;
  }

  .experts__img {
    width: 150px;
  }

  .ideas {
    margin-top: 64px;
    width: calc(100% - 78px);
  }

  .ideas__title {
    font-size: 30px;
  }

  .ideas__info {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
  }

  .ideas__paragraph {
    width: 330px;
    font-size: 17px;
  }

  .ideas__paragraph--second {
    margin-top: 17px;
  }

  .ideas__text {
    gap: 10px;
    position: relative;
  }

  .ideas__message--first {
    padding: 16x 24px;
    width: 240px;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.4;
  }

  .ideas__message--second {
    padding: 16x 24px;
    font-size: 15px;
    margin-left: 90px;
    width: 240px;
  }

  .ideas__img {
    height: 80px;
    left: 4px;
    bottom: 32px;
  }
}
