* {
    box-sizing: border-box;
}

.title {
    margin: 0;
    font-size: 56px;
    font-weight: 600;
    line-height: 100%; 
    @media (max-width: 991.98px) {        
        font-size: 30px;             
    }
    @media (max-width: 767.98px) {
        font-size: 32px;
    }  
}

.text {
    margin: 0;    
    font-size: 24px;
    font-weight: 400;
    line-height: 140%;         
    @media (max-width: 991.98px) {        
        font-size: 17px;             
    }
    @media (max-width: 767.98px) {
        font-size: 18px;
        line-height: 150%; 
    }
}

.services__btn {
    border-radius: 40px;
    background: #3F78E3;
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    line-height: 130%;     
    padding: 20px 40px;     
    max-width: fit-content;
    text-decoration: none;   
    display: block;
    text-align: center;
    &:visited {
        color: #FFF;
    }
    &:hover {
        background: #FECE00;
        box-shadow: 0px 4px 25px 0px rgba(44, 44, 44, 0.11);
        color: #2C2C2C;
    }    
    @media (max-width: 991.98px) {            
        padding: 16px 29px;
        font-size: 17px;
    }
    @media (max-width: 767.98px) {        
        max-width: 100%;
        padding: 14px 29px;
    }
}


/*serveces=================================*/
.services {
    padding: 100px 0;
    @media (max-width: 991.98px) {        
        padding: 64px 0;                
    }
    @media (max-width: 767.98px) {        
        padding: 20px 0 60px;
    }    
    &__container {
        display: flex;
        justify-content: space-between;
        gap: 16px;
        position: relative;
        @media (max-width: 767.98px) {
            flex-direction: column-reverse;            
        }  
    }
    &__content {
        width: 630px;
        @media (max-width: 991.98px) {        
            width: 330px;
        } 
        @media (max-width: 767.98px) {
            width: 100%;
        } 
    }
    &__title { 
        padding: 0 0 40px;
        @media (max-width: 991.98px) {        
            padding: 0 0 24px;          
        }
        @media (max-width: 767.98px) {
            position: absolute;
            top: 0px;
            left: 15px;
            padding: 0 0 16px; 
        }
    }
    &__text:first-of-type {padding-bottom: 16px;} 
    &__container-img {
        img {
            width: 520px;
            height: 406px;
            @media (max-width: 991.98px) {
                width: 270px;
                height: 100%;
            }  
            @media (max-width: 767.98px) {
                padding-top: 48px;
                width: 100%;                
            }
        }
    }
}


/*our team===============================*/
.team {
    background: #3F78E3;
    &__container {
        position: relative;
        padding: 72px 0 64px;
        @media (max-width: 991.98px) {
            padding: 48px 0;
        }
        @media (max-width: 767.98px) {
            padding: 40px 15px;
        }
    }
    &__container-img {
        img {
            position: absolute;
            top: -50px;
            left: -45px;
            @media (max-width: 991.98px) {
                width: 80px;
                height: 80px;
                top: -40px;
            }
            @media (max-width: 767.98px) {
                width: 50px;
                height: 50px;
                top: -25px;
                left: 15px;
            }
        }
    }
    &__content {
        margin: 0;
        color: #FFF;
        font-size: 48px;
        font-weight: 600;
        line-height: 120%; 
        @media (max-width: 991.98px) {
            font-size: 24px;
        }
        @media (max-width: 767.98px) {
            font-weight: 500;
            line-height: 140%; 
        }
    }
}


/*support================================*/
.support {
    &__container {
        padding: 100px 0;
        display: flex;
        justify-content: space-between;
        gap: 16px;        
        @media (max-width: 991.98px) {
            padding: 64px 0 56px;
        }
        @media (max-width: 767.98px) {
            padding: 60px 15px;
            flex-direction: column;
        }
    }
    &__container-img { 
        @media (max-width: 991.98px) {
            margin: 39px 0;
        }
        @media (max-width: 767.98px) {           
            margin: 0;
        }
        img {
            width: 520px;
            height: 100%;
            @media (max-width: 991.98px) {
                width: 270px;
                height: auto;            
            }
            @media (max-width: 767.98px) {
                width: 100%;
            }
        }        
    }
    &__content {
        width: 630px;
        @media (max-width: 991.98px) {
            width: 330px;
        }
        @media (max-width: 767.98px) {
            width: 100%;
        }        
    }
    &__title {
        padding-bottom: 40px;
        @media (max-width: 991.98px) {
            padding-bottom: 24px;
        }
        @media (max-width: 767.98px) {            
            display: none;
        }
    }
    &__title-mobile {
        @media (min-width: 767.98px) {
            display: none;
        } 
    }
    &__text {
        padding-bottom: 48px;
        @media (max-width: 991.98px) {
            padding-bottom: 32px;
        }
    }
    &__button {
        margin-bottom: 25px;       
        @media (max-width: 991.98px) {
            margin-bottom: 0px; 
        }
    }
}


/*development=======================*/
.development {
    &__container {
        display: flex;
        justify-content: space-between;
        gap: 16px;        
        @media (max-width: 767.98px) {
            flex-direction: column;
            gap: 0;            
        }
    }
    &__content {
        width: 630px;
        @media (max-width: 991.98px) {
            width: 330px;            
        }
        @media (max-width: 767.98px) {
            width: 100%;
        } 
        img {
            width: 100%;
            height: 440px;
            margin: 60px 0;
            @media (min-width: 767.98px) {
                display: none;
            } 
        }
    }
    &__title {
        padding-bottom: 40px;
        @media (max-width: 991.98px) {
            padding-bottom: 24px;
        }
        @media (max-width: 767.98px) {
            padding-bottom: 16px;
        }
    }
    &__text {
        padding-bottom: 48px;
        @media (max-width: 991.98px) {
            padding-bottom: 32px;
        }
    }
    &__button {
        margin-bottom: 64px;
        @media (max-width: 991.98px) {
            margin-bottom: 48px;
        }
        @media (max-width: 767.98px) {
            margin-bottom: 0px;
        }
        &:last-of-type {
            margin-bottom: 0;
        }
    } 
    &__container-img {                   
        img {
            width: 520px;
            height: auto;
            @media (max-width: 991.98px) {
                width: 330px;
                
            }
            @media (max-width: 767.98px) {
                display: none;
            } 
        }        
    }
}


/*trust===================================*/
.trust {
    margin: 100px 0;
    @media (max-width: 991.98px) {
        margin: 64px 0;
    }
    @media (max-width: 767.98px) {
        margin: 60px 0;
    }
    &__title {
        margin: 0 0 64px;
        @media (max-width: 991.98px) {
            margin: 0 0 32px;
        }
        @media (max-width: 767.98px) {
            margin: 0 0 16px;
        }
    }
    &__container {
        display: flex;
        justify-content: space-between;
        gap: 150px;
        position: relative;
        @media (max-width: 991.98px) {
            gap: 30px;
        }
        @media (max-width: 767.98px) {
            flex-direction: column;
            gap: 16px;
        }
    }
    &__message {
        &-text {
            font-size: 18px;
            line-height: 140%; 
            padding: 20px 24px;
            border-radius: 24px;
            width: 237px;   
            @media (max-width: 991.98px) {
                font-size: 15px;
                padding: 16px 24px;
                width: 192px;
            }    
            @media (max-width: 767.98px) {
                font-size: 16px;
                padding: 16px 24px 16px 16px;                
            }     
        }
        &-gray {
            background: #F3F5FA;
            margin: 0 0 12px;
        }
        &-blue {           
            background: #3F78E3;
            color:  #FFF;
            margin: 0 0 0 100px;
            @media (max-width: 991.98px) {
                margin: 0 0 0 80px;
            }
        }
        img {
            position: absolute;
            top: 70px;
            left: 0;
            @media (max-width: 991.98px) {
                width: 80px;
                height: 80px;
                top: 60px;
            }
        }
    }    
}

/*advantages==============================*/
.advantages {
    margin: 0 0 100px;
    @media (max-width: 991.98px) {
        margin: 0 0 64px;
    }
    @media (max-width: 767.98px) {
        margin: 0 0 60px;
    }
    &__title {
        margin: 0 0 48px;
        @media (max-width: 991.98px) {
            margin: 0 0 32px;
        }
        @media (max-width: 767.98px) {
            margin: 0 0 16px;
        }
    }   
    &__content {  
        padding-bottom: 50px; 
        display: flex;  
        align-items: stretch;          
    }
    &__slide {
        position: relative;              
        @media (max-width: 767.98px) {
            padding: 24px 24px 74px 24px;
            border-radius: 16px;
            background: #FFF; 
            box-shadow: 0px 4px 25px 0px rgba(44, 44, 44, 0.11);
            width: 200px;
        }
        img {
            z-index: 0;
            position: absolute;
            top: 0;
            left: 100px;
            @media (max-width: 1280px) {
                left: 80px;           
            }
            @media (max-width: 991.98px) {
                width: 90px;
                height: 90px;
            }
            @media (max-width: 767.98px) {
                width: 80px;
                height: 80px;
                top: 24px;
                left: 122px;
            }
        }
    }
    &__heading {
        z-index: 2;
        position: relative;
        margin: 18px 55px 35px 0;
        font-size: 32px;
        font-weight: 500;
        line-height: 140%;        
        @media (max-width: 1280px) {
            font-size: 26px;            
        }
        @media (max-width: 991.98px) {
            font-size: 24px;
            margin: 18px 78px 31px 0;
        }
        @media (max-width: 767.98px) {
            font-weight: 600;
            margin: 0px 105px 23px 0;
        }
    }
    &__text {
        z-index: 2;
        position: relative;
        margin: 0 55px 0 0;
        font-size: 21px;
        line-height: 140%;
        @media (max-width: 991.98px) {
            font-size: 17px;
            margin: 0 38px 0 0;
        }
    }    
}

.pagination .swiper-pagination-bullet {
    border: 2px solid #3F78E3;
    background-color: #FFF;
    padding: 4px;
}

.pagination .swiper-pagination-bullet-active {    
    background-color: #3F78E3;
    padding: 4px;
}

.advantages__content .swiper-wrapper {
    display: flex;
    align-items: stretch;
}
