@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap");

.fb_section {
  box-sizing: border-box;
  margin-top: 100px;
  padding: 64px 0 100px 0;
  background-color: #3f78e3;
  width: 100%;
}

.fb_container {
  width: 1290px;
  margin: 0 auto;
}

.fb__heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fb-slider {
  width: 100%;
  height: 100%;
}

.slider__prev,
.slider__next {
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.slider__prev:focus,
.slider__next:focus {
  outline: none;
}

.fb__title {
  font-family: Inter;
  font-size: 56px;
  font-style: normal;
  font-weight: 600;
  color: #fff;
}

.fb__list {
  margin-top: 64px;
  display: flex;
}

.fb__item.swiper-slide {
  border-radius: 24px;
  padding: 40px 24px 40px 72px;
  width: 410px;
  background-color: #fff;
  position: relative;
  height: 330px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fb__icon {
  color: #3f78e3;
  position: absolute;
  font-family: Rubik;
  font-size: 100px;
  font-weight: 400;
  top: 18px;
  left: 24px;
  margin: 0;
}

.fb__text {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

.fb__info {
  display: flex;
  gap: 20px;
  margin-top: 32px;
}

.fb__img {
  width: 56px;
  height: 56px;
}

.fb__name {
  color: #3f78e3;
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}

.fb__spec {
  font-size: 16px;
  font-weight: 500;
  margin-top: 8px;
}

.fb__wrapper {
  gap: 30px;
  padding: 0px 0 50px;
  @media (max-width: 991.98px) {
    padding: 0px 0 64px;
  }
  @media (max-width: 767.98px) {
    flex-direction: column;
    gap: 20px;
    padding: 0px 0 0px;
  }
}

.fb__pagination {
  position: static;
  margin-top: 16px;
  display: flex;
  justify-content: center;
  @media (min-width: 768px) {
    margin-top: 48px;
  }
  @media (min-width: 1300px) {
    display: none;
  }
}

.fb__pagination .swiper-pagination-bullet {
  border: 2px solid #fff;
  background-color: #3f78e3;
  padding: 6px;
  margin-top: 16px;
}
.fb__pagination .swiper-pagination-bullet-active {
  background-color: #ffffff;
  padding: 6px;
}
.fb__arrows {
  display: none;
  @media (min-width: 1300px) {
    display: block;
    transform: scale(0.8);
  }
  @media (min-width: 1920px) {
    display: block;
    transform: scale(1);
  }
}
.fb__arrow-next,
.fb__arrow-prev {
  display: inline-block;
  height: 24px;
  width: 58px;
  object-fit: fill;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  margin-left: 42px;
  cursor: pointer;
}

.fb__arrow-next {
  background-image: url("../../images/arrow-next.png");
}

.fb__arrow-prev {
  background-image: url("../../images/arrow-prev.png");
}

/* mobile version */

@media screen and (max-width: 767.98px) and (min-width: 375px) {
  .fb_section {
    margin-top: 60px;
    padding: 40px 0 40px 0;
    width: 100%;
  }

  .fb_container {
    width: 343px;
    margin: 0 auto;
  }

  .fb__title {
    font-family: Inter;
    font-size: 32px;
    line-height: 1.25;
  }

  .fb__list {
    margin-top: 24px;
    display: flex;
  }

  .fb__item.swiper-slide {
    border-radius: 16px;
    background-color: #fff;
    padding: 24px 24px 32px 48px;
    width: 343px;
    min-width: 343px;
    position: relative;
    height: 298px;
  }

  .fb__icon {
    position: absolute;
    color: #3f78e3;
    font-family: Rubik;
    font-size: 60px;

    top: 24px;
    left: 16px;
  }

  .fb__text {
    font-size: 16px;
  }

  .fb__info {
    display: flex;
    gap: 10px;
    margin-top: 56px;
  }

  .fb__img {
    width: 42px;
    height: 42px;
  }

  .fb__name {
    color: #3f78e3;
    font-size: 16px;
  }

  .fb__spec {
    color: #2c2c2c;
    font-size: 14px;
    font-weight: 400;
    margin-top: 6px;
  }
}

/* mobile version */

@media screen and (max-width: 374.98px) and (min-width: 0px) {
  .fb_section {
    margin-top: 60px;
    padding: 40px 16px 40px 16px;
    width: 100%;
  }

  .fb_container {
    width: auto;
    max-width: 343px;
    margin: 0 auto;
  }

  .fb__title {
    font-family: Inter;
    font-size: 32px;
    line-height: 1.25;
  }

  .fb__list {
    margin-top: 24px;
    display: flex;
  }

  .fb__item.swiper-slide {
    border-radius: 16px;
    background-color: #fff;
    padding: 24px 24px 32px 48px;
    width: auto;
    position: relative;
    height: 298px;
  }

  .fb__icon {
    position: absolute;
    color: #3f78e3;
    font-family: Rubik;
    font-size: 60px;

    top: 24px;
    left: 16px;
  }

  .fb__text {
    font-size: 14px;
  }

  .fb__info {
    display: flex;
    gap: 10px;
    margin-top: 16px;
  }

  .fb__img {
    width: 42px;
    height: 42px;
  }

  .fb__name {
    color: #3f78e3;
    font-size: 14px;
  }

  .fb__spec {
    color: #2c2c2c;
    font-size: 12px;
    font-weight: 400;
    margin-top: 6px;
  }
}

/* tablet version */
@media screen and (max-width: 1299px) and (min-width: 768px) {
  .fb_section {
    margin-top: 64px;
    padding: 46px 0 32px 0;
    width: 100%;
  }

  .fb_container {
    width: 690px;
    margin: 0 auto;
  }

  .fb__title {
    font-family: Inter;
    font-size: 30px;
    line-height: 1;
  }

  .fb__list {
    margin-top: 40px;
    display: flex;
  }

  .fb__item.swiper-slide {
    border-radius: 24px;
    background-color: #fff;
    padding: 32px 20px 32px 62px;
    width: 330px;
    min-width: 330px;
    position: relative;
    height: 280px;
  }

  .fb__icon {
    position: absolute;
    color: #3f78e3;
    font-family: Rubik;
    font-size: 90px;
    top: 16.5px;
    left: 20px;
  }

  .fb__text {
    font-size: 16px;
  }

  .fb__info {
    display: flex;
    gap: 12px;
    margin-top: 16px;
  }

  .fb__img {
    width: 56px;
    height: 56px;
  }

  .fb__name {
    color: #3f78e3;
    font-size: 17px;
  }

  .fb__spec {
    font-size: 14px;
    font-weight: 500;
    margin-top: 8px;
  }
}

/* full hd version */

@media screen and (min-width: 1920px) {
  .fb_section {
    margin-top: 120px;
    padding: 120px 0 120px 0;
    width: 100%;
  }

  .fb_container {
    width: 1845px;
    margin: 0 auto;
  }

  .fb__title {
    font-family: Inter;
    font-size: 72px;
    line-height: 1;
  }

  .fb__list {
    margin-top: 72px;
    display: flex;
  }

  .fb__item.swiper-slide {
    border-radius: 24px;
    padding: 40px 24px 40px 72px;
    width: 453px;
    height: 376px;
  }

  .fb__icon {
    font-family: Rubik;
    font-size: 100px;
    top: 18.5px;
    left: 24px;
  }

  .fb__text {
    font-size: 22px;
  }

  .fb__info {
    display: flex;
    gap: 20px;
    margin-top: 41px;
  }

  .fb__img {
    width: 56px;
    height: 56px;
  }

  .fb__name {
    font-size: 20px;
  }

  .fb__spec {
    font-size: 16px;
    font-weight: 500;
    margin-top: 8px;
  }
}
